<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}

 <table>

      {%for f in form%}
      <tr>

        {%for error in f.errors%}
          <td> <strong>({{f.label}})</strong>{{ error|escape }}</td>
        {% endfor %}
      </tr>

      {% endfor %}


      <label for="username">Username</label><br>
      {{form.username}}<br>
      <label for="email">email</label><br>
      {{form.email}}<br>
      <label for="dob">Dob</label><br>
      {{form.dob}}<br>
      <label for="age">age</label><br>
      {{form.age}}<br>
      <label for="phone">Phone</label><br>
      {{form.phone}}<br>
      <label for="password1">password</label><br>
      {{form.password1}}<br>
      <label for="password2">Confirm Password</label><br>
      {{form.password2}}<br>
      {{form.picture}}<br>
      <label for="mark">mark</label><br>
      {{form.mark}}<br

    </table><br>

    <input type="submit"  value="Save">

    </form>

</body>
</html>
